$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#Brand {
  font-size: 1.8em;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: white; 
  float: left;
  letter-spacing: -1px;

}

#Brand:hover {
  color: white;
  text-transform: uppercase;
  
}

.center {
  text-align: center;
  color: white;
  letter-spacing:-1px;
  
  }
  
.jumbotron {
  background-image: asset-url('bridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  background-position: 45%, 0% ;
  margin-top: 2em; 
}

.jumbotron h1 {
  padding-bottom: 5px ;
  font-weight: bold;
  letter-spacing: -1px;
 
  // border: white solid;
  
}

.btn-home {
  font-size: 1.7em;
  width: 8em;
  font-weight: bold;
  background-color: green;
}

.description{
  color: black;
  font-weight: bold;
  font-size: 2em;
  
}
.article-actions {
  border-top: 1px solid black;
  padding-top: 8px;
  margin-top: 5px;
  
}
  
.article-title{
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 5px;
}


.article-description{
  border-top: 1px solid black;
  padding-top: 5px;  
  padding-bottom: 5px;
}

.article-meta-details {
  margin-top: 10px;
  padding-top: 10px;
  
}

footer{
  border-top: 1px solid black;
  color: grey;
  margin-top:45px;
  padding-top: 5px;

}

footer nav ul {
  float: right;
  list-style: none;
}

footer nav ul li {
  display: inline;
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  
}

footer small{
  float: left;
}

.div-check {
  
border: 1px solid red;
}
