<div class="container div-check">
  <footer class="footer">
    <small> Copyright &copy; Brought to you by <%=link_to'Toone', about_path%> </small>
  
  <nav>
    <ul>
      <li><%= link_to'All Article', articles_path%></li>
      <li><%= link_to'Create New', new_article_path%> </li>
    </ul>
  </nav>
  </footer>
</div>